// Colors

$c-blue: #202F72;
$c-blue-light: #2941ab;
$c-white: #ffffff;
$c-black: #000;
$c-green: #1ed760;
$c-gray: #919496;
$c-gray-light: #d9dadc;
$c-gray-dark: #222326;
$c-pink: #f46ebe;
$c-green-hover: #2DE26D;

// Breakpoint

$bp-medium: 1000px;

// Values

$max-container-width: 1140px;
$border-radius: 50px;

$gap: 10px;
$trim-small: 15px;
$trim: 30px;

// Font Size

$f-size-xs: 12px;
$f-size-s: 13px;
$f-size: 14px;
$f-size-l: 15px;
$f-size-xl: 16px;
$f-size-xxl: 18px;

// Font Family

$f-stack-default: "Circular";